body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}



.maindiv{
    width:500px;
    height:auto;
    margin:0 auto;
    background-color:white;
    color:black;
    border-radius:25px;
    padding:20px;
}

.form{
    margin:0 0 10px 50px;
}

#principal{
    margin:0 0 10px 60px;
    border:1px solid black;
    border-radius:3px;
}

#rate{
    margin:0 0 10px 25px;
}

#years{
    margin:0 0 10px 30px;
}

#highlight{
    background-color:youlow;
}



